<header id="header">
  <div class="avatar"></div>
  <div class="header-inner">
    <h1>
      <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
    </h1>
    <h2>
      <%= config.subtitle %>
    </h2>
  </div>
</header>