@import "nib"
@import "_variables"
@import "_partial/highlight"

html
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
  
h1, h2, h3, h4, h5, ul, p, figure
  margin-top: 0;
  margin-bottom: 1rem;
  
a
  text-decoration: none;

p
  line-height: 1.5;
  
article
  padding: 0 40px;
  text-align: justify;
  li
    line-height: 1.5;
  
#container
  padding: 1rem 0;
  
#header, #footer
  padding-left: 40px;
  
#footer
  font-size: 12px;
  
#comments
  margin: 1rem 40px;
    
.post-item
  line-height: 45px;
  a
    padding: 5px 0;
    &:hover
      border-bottom: 1px dashed #ddd;
  
  
  
    